# Dependências do Node (Pesadas e baixadas via npm)
node_modules/
npm-debug.log*

# Arquivos de Sistema Ocultos
.DS_Store
Thumbs.db

# Configurações Locais e Temporárias do VS Code
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de log de erros do ambiente Windows
*.log